@font-face {
    font-family: Source Sans Pro-Regular;
    src: url(assets/SourceSansPro-Regular.otf) 
    
 }
 * {
    font-family:Source Sans Pro-Regular;
 }
 


.outer-container{
    display: flex;
    align-items: center;
    width: 100%;
     flex-direction: column;
     height: 100%;
    
  h1{
    margin-top: 100px;
  }  
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.paragraph{
    text-align: center;
    width: 60%;
    margin-bottom: 100px;
    margin-top: 0px;
    font-family: Source Sans Pro-Regular;
}
.container p{
    margin-top: 60px;
    font-family: Source Sans Pro-Regular;
    
}
    
    
    

    

